.header {
  height: 54px;
  background-color: rgb(53 151 234);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  /*width: 100%;*/
  padding-left: 27%;
}

.headerName {
  font-size: 1.8em;
}
